<div class="container">
  <div class="row">
    <h1>Welcome to your dashboard <%= current_user.login %> </h1>
  </div>

  <div class="row center-align">
    <%= link_to("Find Pairs", user_path(change_up), class: "waves-effect waves-light btn btn-large") %>
  </div>
  </div>
<div class="container center-align">
  <h3>Your Matches:</h3>
  <div class="row">
      <% @users.each do |user| %>
      <div class="col s6 md6 l6">
        <div class="card">
          <div class="card-image">
            <%= image_tag(user.avatar_url, class:"image-size") %>
            
            <span class="card-title"><%=user.login %></span>
          </div>
          <div class="card-content">
            <p><%= user.description %></p>
            <p><strong>Skills: </strong><%=  user.languages.pluck(:name).to_sentence %></p>
          </div>
          <div class="card-action">
            <a href=<%= user.html_url %>>GitHub</a>
          </div>
      </div>
    </div>
      <% end %>
  </div>
</div>
